# First print your name in the cell below then save this file. (or something nice about your instructor)

In [1]:
# In this cell print your name 

print('Yared Pena')

Yared Pena

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [3]:
# Load data here
pd.read_csv('2024 DS Wed listings.csv') ## put csv files in quotations.

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46522,44807522,Designer Gramercy Studio Townhouse by UNSQ,12941925,Brian,Manhattan,Gramercy,40.73433,-73.98383,Entire home/apt,145,7,0,NaN,NaN,1,164
46523,44807786,Cozy & comfy apt in the heart of Inwood Manhattan,284790520,Salar,Manhattan,Washington Heights,40.85820,-73.92733,Entire home/apt,87,6,0,NaN,NaN,2,85
46524,44811717,Comfortable safe environment 24hr security camera,362453686,Nicole,Brooklyn,East Flatbush,40.65399,-73.93287,Private room,59,3,0,NaN,NaN,1,90
46525,44814944,Upper West Side studio 86th Street,4039777,Fernando,Manhattan,Upper West Side,40.78731,-73.97029,Entire home/apt,80,30,0,NaN,NaN,1,113
46526,44818009,"5MIN D/N trains, NEAR THE BEACH, 50’ TO MANHATTAN",48098268,Marina,Brooklyn,Gravesend,40.59945,-73.98209,Private room,66,1,0,NaN,NaN,1,38

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [63]:
# 1. How many listings are there with a price less than 100? 
df = pd.read_csv('2024 DS Wed listings.csv') ## stores read csv file in df
price_filter = df[df['price'] < 100] ## should only read prices that are less than 100.

count_listings = len(price_filter) ## reads the number of listings that have prices less than 100.
print(count_listings) ## this will print the number of listings with prices that are less than 100.

## There are 22778 listings with a price less than 100.


##print(price_filter) ##print the filter

22778

In [46]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.

df_bk = pd.read_csv('2024 DS Wed listings.csv')
location_filter = df_bk[df_bk['neighbourhood_group'] == 'Brooklyn'] ##within purple parenthesis the value must have the name of column from the data set.

count_listings = len(location_filter)
print(count_listings)

## There are 18632 listings that are in brooklyn.

18632

In [18]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
df = pd.read_csv('2024 DS Wed listings.csv')
price_location_filter = df[(df['price'] < 100) & (df['neighbourhood_group'] ==  'Brooklyn')]
count_listings = len(price_location_filter)
print(count_listings)

## There are 10473 listings that are in brooklyn and with a price less than 100.

10473

In [48]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names
df = pd.read_csv('2024 DS Wed listings.csv')
host_name_filter = df[df['host_name'].isin(['Michael', 'David', 'John', 'Daniel'])]
count_listings = len(host_name_filter)
print(count_listings)

## There are 1258 listings that have the host_names of 'Michael', 'David', 'John', 'Daniel'.

1258

In [22]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

df = pd.read_csv('2024 DS Wed listings.csv') 

## how do I create a new column?
## df['column_name'] = np.where(df['column_x'], df['column_y'])
df['adjusted_price'] = np.where(df['neighbourhood_group'] == 'Williamsburg', df['price'] + 100, df['price']) ## this makes the adjusted price column that adds $100 to every williamsburg listing.

df.to_csv('updated_file.csv', index=False) ## writes the updated dataframe back into the csv file.

print(df) ##this prints the data frame with the current updates.

##pd.read_csv('2024 DS Wed listings.csv')

             id                                               name    host_id  \
0          2595                              Skylit Midtown Castle       2845
1          3831  Whole flr w/private bdrm, bath & kitchen(pls r...       4869
2          5121                                    BlissArtsSpace!       7356
3          5136           Spacious Brooklyn Duplex, Patio + Garden       7378
4          5178                   Large Furnished Room Near B'way　       8967
...         ...                                                ...        ...
46522  44807522         Designer Gramercy Studio Townhouse by UNSQ   12941925
46523  44807786  Cozy & comfy apt in the heart of Inwood Manhattan  284790520
46524  44811717  Comfortable safe environment 24hr security camera  362453686
46525  44814944                 Upper West Side studio 86th Street    4039777
46526  44818009  5MIN D/N trains, NEAR THE BEACH, 50’ TO MANHATTAN   48098268

         host_name neighbourhood_group       neighbourhood  latitude  \
0         Jennifer           Manhattan             Midtown  40.75362
1      LisaRoxanne            Brooklyn        Clinton Hill  40.68514
2            Garon            Brooklyn  Bedford-Stuyvesant  40.68688
3          Rebecca            Brooklyn         Sunset Park  40.66120
4         Shunichi           Manhattan      Hell's Kitchen  40.76489
...            ...                 ...                 ...       ...
46522        Brian           Manhattan            Gramercy  40.73433
46523        Salar           Manhattan  Washington Heights  40.85820
46524       Nicole            Brooklyn       East Flatbush  40.65399
46525     Fernando           Manhattan     Upper West Side  40.78731
46526       Marina            Brooklyn           Gravesend  40.59945

       longitude        room_type  price  minimum_nights  number_of_reviews  \
0      -73.98377  Entire home/apt    175               3                 48
1      -73.95976  Entire home/apt     75               1                340
2      -73.95596     Private room     60              29                 50
3      -73.99423  Entire home/apt    175              14                  1
4      -73.98493     Private room     65               2                473
...          ...              ...    ...             ...                ...
46522  -73.98383  Entire home/apt    145               7                  0
46523  -73.92733  Entire home/apt     87               6                  0
46524  -73.93287     Private room     59               3                  0
46525  -73.97029  Entire home/apt     80              30                  0
46526  -73.98209     Private room     66               1                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
0      2019-11-04               0.37                               2
1      2020-08-01               4.75                               1
2      2019-12-02               0.37                               1
3      2014-01-02               0.01                               1
4      2020-03-15               3.44                               1
...           ...                ...                             ...
46522         NaN                NaN                               1
46523         NaN                NaN                               2
46524         NaN                NaN                               1
46525         NaN                NaN                               1
46526         NaN                NaN                               1

       availability_365  adjusted_price
0                   365             175
1                   265              75
2                   365              60
3                   295             175
4                   340              65
...                 ...             ...
46522               164             145
46523                85              87
46524                90              59
46525               113              80
46526                38              66

[46527 rows x 17 columns]

In [9]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
df = pd.read_csv('2024 DS Wed listings.csv')

total_rooms =len(df) ## calculates the total number of rooms in general ==> my denominator
private_count = df[df['room_type'] == 'Private room'].shape[0] ## creating my private count to find the number of private rooms. ==> numerator 1
shared_count = df[df['room_type'] == 'Entire home/apt'].shape[0] ## creating my shared count to find the number of shared rooms. ==> numerator 2

## divide the numerators over my denominator
private_rooms_percentage = (private_count / total_rooms) * 100 
shared_rooms_percentage = (shared_count / total_rooms) * 100

print(f"Private Rooms: {private_rooms_percentage:.2f}%") ## prints the percentage of my private rooms, only up to 2 decimal places.
print(f"Shared Rooms: {shared_rooms_percentage:.2f}%") ## prints the percentage of my shared rooms, only up to 2 decimal places.

##pd.read_csv('2024 DS Wed listings.csv')
##`.value_counts()` replace value with actual thing you are trying to count.

## I used 'Entire home/apt' for shared room because that was how shared rooms are stated in the CSV file.

Private Rooms: 45.44%
Shared Rooms: 51.58%

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [27]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

## how to use groupby??? ==> df.groupby('column_name')
##pd.read_csv('2024 DS Wed listings.csv')

df = pd.read_csv('2024 DS Wed listings.csv')

neighbourhood_count = df.groupby('neighbourhood_group').size() ## groups dataframe by the given column then counts the number of rows in each group.

print(neighbourhood_count)

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
dtype: int64

In [29]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 

##pd.read_csv('2024 DS Wed listings.csv')

df = pd.read_csv('2024 DS Wed listings.csv')

##np.mean?? ==> wasn't needed.
neighbourhood_mean_price = df.groupby('neighbourhood_group')['price'].mean()
print(neighbourhood_mean_price)

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [35]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
##pd.read_csv('2024 DS Wed listings.csv')

df = pd.read_csv('2024 DS Wed listings.csv')

room_type_mean_price = df.groupby('room_type')['price'].mean()
print(room_type_mean_price)

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [36]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 

df = pd.read_csv('2024 DS Wed listings.csv')

neighbourhood_groups = df.groupby('neighbourhood_group') ## groupby

result = neighbourhood_groups.agg({         # how to use .agg function and set min + max for each price
    'price' : ['min', 'max']
})


print(result)

                    price
                      min    max
neighbourhood_group
Bronx                  16   1404
Brooklyn                0  10000
Manhattan               0  10000
Queens                  0  10000
Staten Island          19   1200

In [46]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.

df = pd.read_csv('2024 DS Wed listings.csv')

ng_rt_grouped = df.groupby(['neighbourhood_group', 'room_type'])

result = ng_rt_grouped.agg({
        'price': ['mean']
    })

print(result)

                                          price
                                           mean
neighbourhood_group room_type
Bronx               Entire home/apt  138.004819
                    Private room      68.419668
                    Shared room       66.391304
Brooklyn            Entire home/apt  171.587687
                    Hotel room       147.300000
                    Private room      71.291189
                    Shared room       57.870091
Manhattan           Entire home/apt  231.335572
                    Hotel room       292.515670
                    Private room     128.277069
                    Shared room      111.735084
Queens              Entire home/apt  150.168900
                    Hotel room       139.058824
                    Private room      69.972564
                    Shared room       89.891892
Staten Island       Entire home/apt  151.720930
                    Private room      70.312883
                    Shared room       46.000000

In [47]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

## basically inculde count, min, max and median in the agg.

df = pd.read_csv('2024 DS Wed listings.csv')

ng_rt_grouped = df.groupby(['neighbourhood_group', 'room_type'])

result = ng_rt_grouped.agg({
        'price': ['count','min','max','mean','median']
    })

print(result)

                                     price
                                     count min    max        mean median
neighbourhood_group room_type
Bronx               Entire home/apt    415  25   1404  138.004819  103.0
                    Private room       722  16    700   68.419668   55.0
                    Shared room         46  20    800   66.391304   44.0
Brooklyn            Entire home/apt   9112  20  10000  171.587687  135.0
                    Hotel room          30   0    399  147.300000  129.0
                    Private room      9159  10   2500   71.291189   60.0
                    Shared room        331  15   1500   57.870091   36.0
Manhattan           Entire home/apt  12209   0  10000  231.335572  165.0
                    Hotel room         351   0   2211  292.515670  210.0
                    Private room      7601  10  10000  128.277069   80.0
                    Shared room        419  10  10000  111.735084   60.0
Queens              Entire home/apt   2090  10  10000  150.168900  115.0
                    Hotel room          17   0    249  139.058824  149.0
                    Private room      3499  18   9000   69.972564   55.0
                    Shared room        185  14   3000   89.891892   40.0
Staten Island       Entire home/apt    172  39   1200  151.720930  111.0
                    Private room       163  20    800   70.312883   55.0
                    Shared room          6  19     82   46.000000   38.0

# Join and file saving.
1. Load the `prices.csv` and the `n_listings.csv`


2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']
       
       
3. Save your joined csv as `joined.csv`


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [70]:
# 1. Load the `prices.csv` and the `n_listings.csv`

#pd.read_csv('2024 DS Wed n listings.csv')

df_listings = pd.read_csv('2024 DS Wed n listings.csv')
df_prices = pd.read_csv('2024 DS Wed prices.csv')

## both csv's a re loaded into dfs.

In [81]:
# 2. Do join that keeps all the records for each table.

neighbourhoods = ['Bronx','Manhattan','Brooklyn','Queens','Staten Island','LongIsland',]
neighbourhoods_df = pd.DataFrame({'neighbourhood_group': neighbourhoods}) ## creates a dataframe for the neighbourhoods.

joined_df = pd.merge(df, neighbourhoods_df, on='neighbourhood_group', how='outer') ## does an outer join to merge with the og dataframe.

joined_df.to_csv('joined.csv', index=False) ## saving the new 'joined' dataframe to a csv file

pd.read_csv('joined.csv')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,44096.0,Room with a View,190409.0,Waundell,Bronx,Highbridge,40.83232,-73.93184,Private room,50.0,1.0,277.0,2020-02-25,2.29,3.0,364.0
1,45935.0,Room in Beautiful Townhouse.,204586.0,L,Bronx,Port Morris,40.80640,-73.92395,Private room,60.0,3.0,0.0,NaN,NaN,1.0,83.0
2,54626.0,Cozy bedroom by Yankee Stadium,190409.0,Waundell,Bronx,Highbridge,40.83075,-73.93058,Private room,55.0,1.0,181.0,2020-03-06,1.66,3.0,364.0
3,63588.0,LL3,295128.0,Carol Gloria,Bronx,Clason Point,40.81309,-73.85514,Private room,89.0,2.0,0.0,NaN,NaN,7.0,270.0
4,63610.0,DOMINIQUE'S NY mini efficiency pad* SANITIZED*...,310670.0,Vie,Bronx,Eastchester,40.88100,-73.83511,Entire home/apt,102.0,2.0,44.0,2020-06-28,0.49,9.0,363.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46523,44288244.0,Huge Private Room/Suite @ Ferry.,117492425.0,Dine,Staten Island,St. George,40.64602,-74.07896,Private room,49.0,4.0,0.0,NaN,NaN,8.0,365.0
46524,44322571.0,Rosebank Townhome,299411542.0,Karen,Staten Island,Clifton,40.61847,-74.06974,Private room,300.0,1.0,0.0,NaN,NaN,2.0,179.0
46525,44322911.0,Oakwood Room,299411542.0,Karen,Staten Island,Oakwood,40.56436,-74.13019,Private room,150.0,1.0,0.0,NaN,NaN,2.0,179.0
46526,44415969.0,Style Home away from home,121399223.0,Weifeng(Daniel),Staten Island,Tompkinsville,40.63380,-74.08298,Entire home/apt,160.0,1.0,1.0,2020-08-02,1.00,3.0,365.0
46527,44574046.0,Home away from home,356621108.0,Andrew,Staten Island,Howland Hook,40.63348,-74.16950,Entire home/apt,250.0,1.0,0.0,NaN,NaN,1.0,14.0

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.